<!DOCTYPE html>
{% include "navbar.html" %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>

<body style="background-color: salmon;text-align: center;">

    
  
   
    <div style="margin: 50px;">
        <form method='POST'>
            {% csrf_token %}
           
           <div>{{ form|crispy}} </div>
                 
               <br>
                
        
            
               <input type="submit" value="reset password">
        </form>
       
    </div>
    <!-- <small>need an account <a  href="{% url 'register' %}"><small> sign up</small></a></small> -->

</body>
</html>